/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$fd-dark = {
  "base":       #2d323e,
  "lighten-5":  #9ea1a9,
  "lighten-4":  #7d818c,
  "lighten-3":  #5c616f,
  "lighten-2":  #3c4252,
  "lighten-1":  #353a48,
  "darken-1":   #262933,
  "darken-2":   #1E2129,
  "accent-1":   #c5c6cb,
  "accent-2":   #9ea1a9,
  "accent-3":   #5c616f,
  "accent-4":   #2d323e
}

$fd-cyan = {
  "base":       #36d7b7,
  "lighten-5":  #e7faf6,
  "lighten-4":  #c3f3e9,
  "lighten-3":  #9bebdb,
  "lighten-2":  #72e3cd,
  "lighten-1":  #54ddc2,
  "darken-1":   #30d3b0,
  "darken-2":   #29cda7,
  "darken-3":   #22c79f,
  "darken-4":   #16be90,
  "accent-1":   #f0fffa,
  "accent-2":   #bdffeb,
  "accent-3":   #8affdc,
  "accent-4":   #70ffd5
}

$theme := {
  primary: $light-blue.base
  accent: $fd-cyan.darken-2
  secondary: $fd-cyan.base
  info: $blue.base
  warning: $red.base
  error: $red.base
  success: $cyan.base
}
